{% extends "base.html" %}

{% load mptt_tags %}

{% block title %}Цены говорят{% endblock %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/fprice.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.treeview.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.treeview.js"></script>
{% endblock %}

{% block breadcrumbs %} - Цены{% endblock %}

{% block mainbar %}
<div id="product-categories">

<h2>Каталог товаров</h2>
<ul class="product-cat">{% full_tree_for_model fprice.ProductCategory as nodes %}
    {% recursetree nodes %}
        <li>
            <a href="{{ node.get_absolute_url }}">{{ node.title }}</a>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
<script type="text/javascript">
$(document).ready(function(){
	$(".product-cat").treeview({
        collapsed: true,
        unique: true,
        persist: "location"
	});
});
</script>
</div>
{% endblock %}

{% block sidebar %}
<!--<h2>Меню прайсов</h2>-->
<ul id="price-sidemenu">

    {% if request.user.is_staff %}
    <li id="price-admin"><h3>Администрирование</h3>
        <ul>
        <li><a href="{% url price_admin %}">Все цены</a></li>
        <li><a href="{% url price_trade_admin %}">Все покупки</a></li>
        </ul>
    </li>
    {% endif %}

    {% if request.user.is_authenticated %}
    <li id="price-profile"><h3>Личный кабинет</h3>
        <ul>
        <li><a href="{% url price_trade_add %}">Добавить покупку</a></li>
        <li><a href="{% url price_trade_list %}">Мои покупки</a></li>
        <li><a href="{% url price_list %}">Мои цены</a></li>
        <li><a href="{% url price_summary_list %}">Мои отчеты</a></li>
        </ul>
    </li>
    {% endif %}

</ul><!-- /price-sidemenu -->
{% endblock %}

