{% extends "base.html" %}

{% block title %}Цены говорят{% endblock %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/fprice.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
{% endblock %}


{% block breadcrumbs %} - Цены{% endblock %}

{% block sidebar %}
<!--<h2>Меню прайсов</h2>-->
<ul id="price-sidemenu">

    {% if request.user.is_staff %}
    <li id="price-admin"><h3>Администрирование</h3>
        <ul>
        <li><a href="{% url price_trade_admin %}">Список покупок</a></li>
        </ul>
    </li>
    {% endif %}

    {% if request.user.is_authenticated %}
    <li id="price-profile"><h3>Личный кабинет</h3>
        <ul>
        <li><a href="{% url price_trade_add %}">Добавить покупку</a></li>
        <li><a href="{% url price_trade_list %}">Ваши покупки</a></li>
        </ul>
    </li>
    {% endif %}

</ul><!-- /price-sidemenu -->
{% endblock %}

