{% extends "fprice/base_price.html" %}

{% load seo_tags fprice_tags mptt_tags %}

{% block title %}{% seo title for flatpage as seo_title %}{% if seo_title %}{{ seo_title }}{% else %}{{ flatpage.title }}{% endif %}{% endblock %}

{% block description %}{% seo description for flatpage %}{% endblock %}

{% block keywords %}{% seo keywords for flatpage %}{% endblock %}

{% block breadcrumbs %} - Добро пожаловать!{% endblock %}

{% block contentclass %}homepage{% endblock %}

{% block content %}
{{ flatpage.content }}

<h2>Каталог товаров</h2>

<div id="product-categories">

<ul class="product-cat">{% full_tree_for_model fprice.ProductCategory as nodes %}
    {% recursetree nodes %}
        <li>
            <a href="{{ node.get_absolute_url }}">{{ node.title }}</a>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>

</div>

<h2>Обновления цен</h2>

<div id="trade-add">
<p><a href="{% url price_trade_add %}">Добавьте вашу покупку прямо сейчас!</a></p>
</div>

<div id="price-entries">{% get_latest fprice.Price 12 as price_list %}
    <table>
    {% for item in price_list %}
        <tr><td><i>{{ item.last_time_update|date:"Y, j b H:i" }}</i></td><td style="text-align: right; padding-left: 10px; padding-right: 0px;"><b>{{ item.price }}</b></td><td>{{ item.get_currency_display }}</td><td><a title="{{ item.shop.title }}" href="{% url price_prodshop_detail item.product.id item.shop.id %}">{{ item.product }}</a></td></tr>
    {% endfor %}
    </table>
<p><a href="{% url price_index %}">Полный список цен</a></p>
</div><!-- /#price-entries -->

{% if is_paginated %}<div class="pagination">Страницы:
    {% if has_previous %}<a class="page-previous" href="?page={{ previous }}">позже</a>{% endif %}
    <span class="page-position">{{ page }}/{{ pages }}</span>
    {% if has_next %}<a class="page-next" href="?page={{ next }}">раньше</a>{% endif %}
</div>{% endif %}
{% endblock %}
