{% extends "fprice/base_price.html" %}

{% load seo_tags fprice_tags %}

{% block title %}{% seo title for flatpage as seo_title %}{% if seo_title %}{{ seo_title }}{% else %}{{ flatpage.title }}{% endif %}{% endblock %}

{% block description %}{% seo description for flatpage %}{% endblock %}

{% block keywords %}{% seo keywords for flatpage %}{% endblock %}

{% block breadcrumbs %} - Добро пожаловать!{% endblock %}

{% block contentclass %}homepage{% endblock %}

{% block content %}
{{ flatpage.content }}

<p><a href="{% url price_index %}">Изучить цены на товары</a></p>

<h2>Обновления</h2>

<div id="price-updates">
<p>Цены за сутки/неделю/месяц: <b>{% get_count fprice.Price 1 as price_count1 %}{{ price_count1.count }}</b>
/ <b>{% get_count fprice.Price 7 as price_count7 %}{{ price_count7.count }}</b>
/ <b>{% get_count fprice.Price 30 as price_count30 %}{{ price_count30.count }}</b>
</p>
<p>Покупки за сутки/неделю/месяц: <b>{% get_count fprice.Summary 1 as sum_count1 %}{{ sum_count1.count }}</b> / <b>{% get_count fprice.Summary 7 as sum_count7 %}{{ sum_count7.count }}</b> / <b>{% get_count fprice.Summary 30 as sum_count30 %}{{ sum_count30.count }}</b></p>
</div><!-- /#price-updates -->

<div id="trade-add">
<p><a href="{% url price_trade_add %}">Добавьте вашу покупку прямо сейчас!</a></p>
</div>


{% if is_paginated %}<div class="pagination">Страницы:
    {% if has_previous %}<a class="page-previous" href="?page={{ previous }}">позже</a>{% endif %}
    <span class="page-position">{{ page }}/{{ pages }}</span>
    {% if has_next %}<a class="page-next" href="?page={{ next }}">раньше</a>{% endif %}
</div>{% endif %}
{% endblock %}
