{% extends "fprice/base_price.html" %}
{% load comments markup %}

{% block breadcrumbs %} - Цены{% endblock %}

{% block contentclass %}price{% endblock %}

{% block content %}
<h1>Последние цены</h1>
<div id="price-entries">
    <table>
    {% for price in object_list %}
        <tr><td><i>{{ price.time|date:"j b" }}</i></td><td style="text-align: right; padding-right: 0px;">{{ price.price }}</td><td>{{ price.get_currency_display }}</td><td><a href="{{ product.get_absolute_url }}">{{ price.product }}</a></td></tr>
    {% endfor %}
    </table>
</div><!-- /#price-entries -->

{% if is_paginated %}<div class="pagination">Страницы:
    {% if has_previous %}<a class="page-previous" href="?page={{ previous }}">позже</a>{% endif %}
    <span class="page-position">{{ page }}/{{ pages }}</span>
    {% if has_next %}<a class="page-next" href="?page={{ next }}">раньше</a>{% endif %}
</div>{% endif %}
{% endblock %}
