{% extends "fprice/base_price.html" %}
{% load comments markup favorites_tags %}

{% block title %}Цены на {{ product.title }} в магазине {{ shop.title }} | {{ block.super }}{% endblock %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.flot.min.js"></script>
{% endblock %}

{% block breadcrumbs %} - <a href="{% url price_index %}">Цены</a> - <a href="{{ product.get_absolute_url }}">Продукт</a> - В магазине{% endblock %}

{% block contentclass %}prodshop{% endblock %}

{% block content %}
<h1>Цены на <a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h1>
<h2>в магазине <a href="{{ shop.get_absolute_url }}">{{ shop.title }}</a></h2>

<div id="favorite-prodshop"><p>{% if product|is_favorite:user %}[<a href="{% url_delete_from_favorites_confirmation 'favorites' product %}">удалить продукт из избранного</a>]{% else %}[<a href="{% url_add_to_favorites product %}">добавить продукт в избранное</a>]{% endif %}, {% if shop|is_favorite:user %}[<a href="{% url_delete_from_favorites_confirmation 'favorites' shop %}">удалить магазин из избранного</a>]{% else %}[<a href="{% url_add_to_favorites shop %}">добавить магазин в избранное</a>]{% endif %}</p></div>

<script type="text/javascript">
$(document).ready(function() {
    var dataset = {
        {% for shop in shop_list %}
        "{{ shop.id }}": {
            label: '<a href="{{ shop.get_absolute_url }}">{{ shop.title }}</a>',
            color: 0,
            data: [{% for item in object_list %}{% ifequal item.shop.id shop.id %}
            ["{{ item.last_time_update|date:"Y/m/d G:i:s" }}",{{ item.price|escapejs }}],
            ["{{ item.time|date:"Y/m/d G:i:s" }}",{{ item.price|escapejs }}],
            {% endifequal %}{% endfor %}]
        },
        {% endfor %}
    };
    
    // жесткое задание цвета магазина
    var i = 0;
    $.each(dataset, function(key, val) {
        val.color = i;
        // преобразование даты в UTC
        for(var j = 0; j < val.data.length; ++j)
            val.data[j][0] = Date.parse(val.data[j][0]);
        ++i;
    });

    // вставка чекбоксов
    var colors = ["#edc240", "#afd8f8", "#cb4b4b", "#4da74d", "#9440ed"];
    var choiceContainer = $("#shop-choices");
    $.each(dataset, function(key, val) {
        choiceContainer.append('<br/><input type="checkbox" name="' + key +
                               '" checked="checked" >' +
                               '<div style="float:left;padding:1px;width:14px;height:14px;background-color:' + colors[val.color] + ';overflow:hidden"></div>'
                               + val.label + '</input>');
    });
    choiceContainer.find("input").click(plotAccordingToChoices);

    
    function plotAccordingToChoices() {
        var data = [];
        
        choiceContainer.find("input:checked").each(function () {
            var key = $(this).attr("name");
            if (key && dataset[key])
                data.push(dataset[key]);
        });

        if (data.length > 0)
            $.plot($("#price-plot"), data, {
                lines: { show: true },
                points: { show: true },
                yaxis: {
                    tickDecimals: 2},
                xaxis: {
                    minTickSize: [1, "day"],
                    mode: "time",
                    timeformat: "%0d<br>%b<br>%y",
                    monthNames: ["Янв","Фев","Мар","Апр","Май","Июн","Июл","Авг","Сен","Окт","Ноя","Дек"]},
                grid: { hoverable: true, clickable: true },
                legend: { show: false },
            });
    }

    plotAccordingToChoices();

    function showTooltip(x, y, contents) {
        $('<div id="tooltip">' + contents + '</div>').css( {
            position: 'absolute',
            display: 'none',
            top: y + 5,
            left: x + 5,
            border: '1px solid #fdd',
            padding: '2px',
            'background-color': '#fee',
            opacity: 0.80
        }).appendTo("body").fadeIn(200);
    };

    var previousPoint = null;
    $("#price-plot").bind("plothover", function (event, pos, item) {
        if (item) {
            if (previousPoint != item.datapoint) {
                previousPoint = item.datapoint;

                $("#tooltip").remove();
                var x = new Date(item.datapoint[0]);
                var y = item.datapoint[1].toFixed(2);
                var xmonth = x.getMonth() + 1 +"";
                if (xmonth.length == 1) {
                    xmonth = "0" + xmonth;
                }
                showTooltip(item.pageX, item.pageY - 25,
                            x.getDate() + '/' + xmonth + '/' + x.getFullYear() +
                            " (" + x.getHours() + ":" + x.getMinutes() + ") = <strong>" + y + "</strong>");
            }
        }
        else {
            $("#tooltip").remove();
            previousPoint = null;
        }
    });
});
</script>

<br/>
<div id="price-graph" style="width:450px; float:left;">

<div id="price-plot" style="width:450px; height:250px;"></div>
<!-- #price-plot -->

<div id="shop-choices" style="width:400px;">Магазин:</div>
<!-- #shop-choices -->

<p><a href="{{ product.get_absolute_url }}">Цены на этот товар в других магазинах</a></p>

</div>

<script type="text/javascript">
$(document).ready(function(){
    $('.price_up').click(function(){
        if (confirm("Подтвердить актуальность цены?"))
            //$('<span class="process">...</span>').insertAfter($this);
            $.get(
                $(this).attr("href"),
                {},
                function(data){
                    alert('ok');
                }
            );
            // $('.process').hide();
        return false;
    });
});
</script>

<div id="price-entries" style="width:220px; margin-left:30px; float:right;">
    <table>
    {% for item in object_list %}
        <tr><td style="text-align: right; padding-right: 0px;"><b>{% if forloop.first %}<a class="price_up" href="{% url price_up item.id %}">+^</a> <big>{{ item.price }}</big>{% else %}{{ item.price }}{% endif %}</b></td><td>{{ item.get_currency_display }}</td><td><i>{{ item.last_time_update|date:"j b H:i" }}</i></td></tr>
    {% endfor %}
    </table>
</div><!-- /#price-entries -->

{% if is_paginated %}<div class="pagination">Страницы:
    {% if has_previous %}<a class="page-previous" href="?page={{ previous }}">позже</a>{% endif %}
    <span class="page-position">{{ page }}/{{ pages }}</span>
    {% if has_next %}<a class="page-next" href="?page={{ next }}">раньше</a>{% endif %}
</div>{% endif %}
{% endblock %}
