{% extends "fprice/base_price.html" %}
{% load comments markup mptt_tags %}

{% block title %}Цены на {% if category %}{{ category.title|lower }}{% else %}товары{% endif %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %} - {% if category %}<a href="{% url price_product_list %}">Товары</a> - Категория{% else %}Товары{% endif %}{% endblock %}

{% block contentclass %}price{% endblock %}

{% block content %}
<h1>Цены на {% if category %}{{ category.title|lower }}{% else %}товары{% endif %}</h1>

{% if not category %}<div id="product-categories">

<ul class="product-cat">{% full_tree_for_model fprice.ProductCategory as nodes %}
    {% recursetree nodes %}
        <li>
            <a href="{{ node.get_absolute_url }}">{{ node.title }}</a>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>

</div>{% endif %}

<div id="product-entries">
    <table>
    {% for item in object_list %}
        <tr><td><a href="{% url price_product_detail item.id %}">{{ item.title }}</a></td></tr>
    {% endfor %}
    </table>
</div><!-- /#price-entries -->

{% if is_paginated %}<div class="pagination">Страницы:
    {% if has_previous %}<a class="page-previous" href="?page={{ previous }}">позже</a>{% endif %}
    <span class="page-position">{{ page }}/{{ pages }}</span>
    {% if has_next %}<a class="page-next" href="?page={{ next }}">раньше</a>{% endif %}
</div>{% endif %}
{% endblock %}
