{% extends "fprice/base_price.html" %}
{% load comments markup %}

{% block title %}Мои покупки | {{ block.super }}{% endblock %}

{% block breadcrumbs %} - <a href="{% url price_index %}">Цены</a> - Покупки{% endblock %}

{% block contentclass %}trade{% endblock %}

{% block content %}
<h1>Мои покупки</h1>
<div id="trade-entries">
    <table>
    {% for item in object_list %}
        <tr><td><i>{{ item.time|date:"j b H:i" }}</i></td><td><a href="{% url price_prodshop_detail item.product.id item.shop.id %}">маг</a></td><td style="text-align: right; padding-right: 0px;"><b>{{ item.cost }}</b></td><td>{{ item.price.get_currency_display }}</td><td><a href="{{ item.price.product.get_absolute_url }}">{{ item.price.product }}</a></td></tr>
    {% endfor %}
    </table>
</div><!-- /#trade-entries -->

{% if is_paginated %}<div class="pagination">Страницы:
    {% if has_previous %}<a class="page-previous" href="?page={{ previous }}">позже</a>{% endif %}
    <span class="page-position">{{ page }}/{{ pages }}</span>
    {% if has_next %}<a class="page-next" href="?page={{ next }}">раньше</a>{% endif %}
</div>{% endif %}
{% endblock %}
