/* ========================= LAYOUT ========================== */

body {
    font-family: Ubuntu, Verdana, sans-serif;
    font-size: 11px;
    background: #ccc;
    color: #555;
    margin: 0px auto;
    width: 960px;
}

/* TODO: make wrapper */

.clearfix {
    clear: both;
}

.rounded {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#header {
    margin: 10px auto 5px;
    clear: both;
    position: relative;
    height: 100px;
}

#sitetitle {
    position: absolute;
    top: 2px;
    left: 0px;
    font-size: 300%;
}

#siteslogan {
    position: absolute;
    top: 37px;
    left: 0px;
    font-family: Georgia;
    font-size: 150%;
    font-style: italic;
}

#sitemenu {
    position: absolute;
    top: 70px;
    left: 0px;
    font-family: Verdana;
    font-size: 130%;
}

#sitemenu ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

#sitemenu ul li {
    display: inline;
    margin-right: 4px;
}

#sitemenu ul li a, #sitemenu ul li a:visited {
    background: #bbb;
    padding: 2px 6px;
    border-radius: 4px;
}


.infobar {
    background: #bbb;
    margin: 4px 0;
    padding: 3px;
}

#breadcrumbs {
    float: left;
}

#profile {
    float: right;
}

#main {
    background: #ccc;
}

#content {
    background: #ddd;
    width: 704px;
    float: left;
    padding: 10px;
}

#sidebar {
    background: #ddd;
    width: 212px;
    float: right;
    margin-left: 4px;
    padding: 10px;
}

#copyright {
    float: left;
}

#author {
    float: right;
}

/* =========================== DEFAULT ========================== */

a, a:active, a:visited {
    color: #a52919;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: underline;
}

h1 {
    font-size: 175%;
    color: #a52919;
    margin: 2px 0 10px 0;
    padding: 0;
}
h2 {
    font-size: 150%;
    color: #773333;
    margin: 3px 0;
    padding: 0;
}
h3 {
    font-size: 125%;
    color: #555555;
    margin: 2px 0;
    padding: 0;
}

h4 {
    font-size: 115%;
    color: #555555;
    margin: 2px 0;
    padding: 0;
}

h5 {
    font-size: 100%;
    color: #555555;
    margin: 2px 0;
    padding: 0;
}

/* ========================== COMMENTS ========================= */

#id_comment {
    width: 98%;
    height: 60px;
}

/* =========================== SIDEBAR ========================== */

#sidebar > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#sidebar > ul > li {
    margin-bottom: 8px;
}

#sidebar ul li ul {
    list-style-type: disc;
    margin-left: 15px;
    padding: 0px;
}
