{% extends "admin/base_site.html" %}

{% block content %}

    <h1>Categorize items</h1>
    <p>Choose the category for the selected item{{ items|pluralize }}:</p>
    <form method="post" action="{{ path }}">{% csrf_token %}
        <table>
            {{ form }}
        </table>
        <p>
            <input type="hidden" name="action" value="change_category" />
            <input type="submit" name="cancel" value="Cancel" />
            <input type="submit" name="categorize" value="Categorize" />
        </p>
    </form>
    <h2>This categorization will affect the following:</h2>
    <ul>
        {% for item in items %}
            <li>{{ item }} on page {{ item.page }}</li>
        {% endfor %}
    </ul>

{% endblock %}
