{% extends "fprice/base_price.html" %}
{% load comments markup %}

{% block title %}Цены на {% if category %}{{ category.title|lower }}{% else %}товары{% endif %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }} - {% if category %}<a href="{% url price_product_list %}">Товары</a>{% else %}Товары{% endif %}{% for cate in categories %} - <a href="{{ cate.get_absolute_url }}">{{ cate }}</a>
{% endfor %}{% if category %} - {{ category }}{% endif %}
{% endblock %}

{% block contentclass %}price{% endblock %}

{% block content %}
<h1>Цены на {% if category %}{{ category.title|lower }}{% else %}товары{% endif %}</h1>

{% if children|length > 0 %}<div id="children">
{% for ch in children %}<a href="{{ ch.get_absolute_url }}">{{ ch }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
</div> <br />{% endif %}
<div id="product-entries">
    <table>
    {% for item in object_list %}
        <tr><td><a href="{% url price_product_detail item.id %}">{{ item.title }}</a></td></tr>
    {% endfor %}
    </table>
</div><!-- /#price-entries -->

{% if is_paginated %}<div class="pagination">Страницы:
    {% if has_previous %}<a class="page-previous" href="?page={{ previous }}">позже</a>{% endif %}
    <span class="page-position">{{ page }}/{{ pages }}</span>
    {% if has_next %}<a class="page-next" href="?page={{ next }}">раньше</a>{% endif %}
</div>{% endif %}
{% endblock %}
