{% extends "fprice/base_price.html" %}
{% load comments markup %}

{% block title %}Мои отчеты {{ month }} {{ year }} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}{{ block.super }} - Мои отчеты{% endblock %}

{% block contentclass %}summary{% endblock %}

{% block content %}
<h1>Мои отчеты за {{ month.month }}.{{ month.year }}</h1>
<div id="trade-add">
<a href="{% url price_trade_add %}">Добавьте вашу покупку прямо сейчас!</a>
</div>
<br />
<div id="summary-entries">
    <table>
    {% for item in object_list %}
        <tr><td><i>{{ item.time|date:"Y, j b H:i" }}</i></td><td style="text-align: right; padding-left: 10px; padding-right: 0px;"><b><a href="{{ item.get_absolute_url }}">{{ item.summary }}</a></b></td><td>{{ item.get_currency_display }}</td><td><a href="{% url price_shop_detail item.shop.id %}">{{ item.shop.title }}</a></td></tr>
    {% endfor %}
    <tr><td></td><td><b>{{ sum.summary__sum }}</b></td><td>р</td></tr>
    </table>
</div><!-- /#trade-entries -->

<h2>Архив</h2>
<div id="summary-archive">
<ul>
    {% for month in month_list %}<li><a href="{% url summary_archive_month month.year month|date:"m" %}">{{ month.year }}, {{ month|date:"F" }}</a></li>
    {% endfor %}
</ul>
</div>

{% if is_paginated %}<div class="pagination">Страницы:
    {% if has_previous %}<a class="page-previous" href="?page={{ previous }}">позже</a>{% endif %}
    <span class="page-position">{{ page }}/{{ pages }}</span>
    {% if has_next %}<a class="page-next" href="?page={{ next }}">раньше</a>{% endif %}
</div>{% endif %}
{% endblock %}
