{% extends "fprice/base_price.html" %}
{% load comments markup %}

{% block title %}Покупки {{ summary.time }} | {{ block.super }}{% endblock %}

{% block breadcrumbs %} - <a href="{% url price_summary_list %}">Мои итоги</a> - Покупки{% endblock %}

{% block contentclass %}summary{% endblock %}

{% block content %}
<h1>Покупки {{ summary.time }}</h1>
<h2>в магазине <a href="{{ summary.shop.get_absolute_url }}">{{ summary.shop.title }}</a></h2>
<br />
<div id="trade-entries">
    <table>
    {% for item in object_list %}
        <tr><td style="text-align: right; padding-left: 10px; padding-right: 0px;"><b>{{ item.cost }}</b></td><td>{{ item.price.get_currency_display }}</td><td><a title="{{ item.price.shop.title }}" href="{% url price_prodshop_detail item.price.product.id item.price.shop.id %}">{{ item.price.product }}</a></td></tr>
    {% endfor %}
    </table>
    <p>Сумма покупок: <b><big>{{ summary.get_abs_summary }}</big> {{ summary.get_currency_display }}</b></p>
</div><!-- /#trade-entries -->

{% if is_paginated %}<div class="pagination">Страницы:
    {% if has_previous %}<a class="page-previous" href="?page={{ previous }}">позже</a>{% endif %}
    <span class="page-position">{{ page }}/{{ pages }}</span>
    {% if has_next %}<a class="page-next" href="?page={{ next }}">раньше</a>{% endif %}
</div>{% endif %}
{% endblock %}
