{% extends "fprice/base_price.html" %}

{% block title %}Новая покупка | {{ block.super }}{% endblock %}

{% block extrahead %}
{{ block.super }}
<link type="text/css" href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.8.16.custom.css" rel="Stylesheet" />
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.formset.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-timepicker-addon.js"></script>

<style>
th { text-align: left; }

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; }
.ui-timepicker-div dl dd { margin: -25px 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui-datepicker-header { border: 1px solid #555555; background: #BBBBBB;}
</style>
{% endblock %}

{% block breadcrumbs %} - <a href="{% url price_summary_list %}">Мои отчеты</a> - Новая покупка{% endblock %}

{% block contentclass %}price-add{% endblock %}
{% block content %}
<h1>Новая покупка</h1>

<form action="" method="post">{% csrf_token %}
    {{ forma.shop }}
    <div><p>{{ forma.spytrade.errors }}
    {{ forma.spytrade }} <b>Режим цен</b> (данные не будут вносится в ваши покупки)</p></div>
    <table id="titleform">
        <thead>
            <tr>
                <th scope="col">Магазин (название, город, адрес)</th>
                <th scope="col">Дата и время</th>
                <th scope="col">Валюта</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ forma.shop_visual }}</td>
                <td>{{ forma.time }}</td>
                <td>{{ forma.currency }} </td>
             </tr>
            <tr class="form-errors-row">
                <td>{{ forma.shop_visual.errors }}</td>
                <td>{{ forma.time.errors }}</td>
                <td>{{ forma.currency.errors }} </td>
             </tr>
        </tbody>
    </table>
    <hr />
    <table id="tradeform">
        <thead>
            <tr>
                <th scope="col">Продукт<br />(название, тип, параметры, производитель, упаковка)</th>
                <th scope="col">Цена<br />(за 1 ед.)</th>
                <th scope="col">Кол-во</th>
                <th scope="col">Стоимость</th>
            </tr>
        </thead>
        <tbody>
        {% for form in formset.forms %}
            <tr id="{{ form.prefix }}-row">
                <td>{{ form.product_visual.errors }}{{ form.product_visual }}{{ form.product }}</td>
                <td>{{ form.price_visual.errors }}{{ form.price_visual }}</td>
                <td>{{ form.amount.errors }}{{ form.amount }}</td>
                <td><input class="blur_replace_cost" type="text" size="5" value=0.00></td>
                <td></td>
             </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style="width: 606px; text-align: right"><b>Общая сумма</b> {{ forma.summary.errors }}{{ forma.summary }}</div>
    {{ formset.management_form }}
    <br />
    <input type="submit" value="Сохранить" />
</form>

<script type="text/javascript">
$(document).ready(function(){
    $('#id_time').datetimepicker({
        timeFormat: 'hh:mm:ss',
        stepHour: 1,
        stepMinute: 1,
        stepSecond: 10,
        hour: 12,
        minute: 00,
        dateFormat: 'yy-mm-dd',
    });
    function SummaryCalc(){
    // подсчет общей суммы чека
        sum = 0;
        $('#tradeform tbody tr').each(function(){
            var cost = parseFloat($('td:eq(3) input',this).val());
            cost = isNaN(cost) ? 0 : cost;
            sum += cost;
        });
        $("#id_summary").val(sum.toFixed(2));
    };
    function CostCalc(table){
    // подсчет текущей стоимости
        var cost = parseFloat(table.children('td:eq(1)').children('input').val());
        cost = isNaN(cost) ? 0 : cost;
        var col = parseFloat(table.children('td:eq(2)').children('input').val());
        col = isNaN(col) ? 0 : col;
        var sum = cost * col;
        
        return sum.toFixed(2);
    }
    function PriceCalc(table){
    // подсчет текущей цены
        var cost = parseFloat(table.children('td:eq(3)').children('input').val());
        cost = isNaN(cost) ? 0 : cost;
        var col = parseFloat(table.children('td:eq(2)').children('input').val());
        col = isNaN(col) ? 0 : col;
        var sum = col ? (cost / col) : 0;
        
        return sum.toFixed(2);
    }
    
    $("#tradeform tbody tr").formset({
        added: function(row) {
            row.find('td:first input').addClass("ac");
            row.find('td input[name$="price_visual"]').addClass("blur_replace");
            row.find('td input[name$="amount"]').addClass("blur_replace_amount");
            setAc();
        },
        addText: "Добавить строку",
        deleteText: "X"
    });

    $("#tradeform tbody tr td:first input").addClass("ac");
    $('#tradeform tbody tr input[name$="price_visual"]').addClass("blur_replace");
    $('#tradeform tbody tr input[name$="amount"]').addClass("blur_replace_amount");

    $("#id_shop_visual").autocomplete({
        //Определяем обратный вызов к результатам форматирования
        source: function(req, add){

            //Передаём запрос на сервер
            $.getJSON("{% url json_lookup 'shop' %}", req, function(data) {
                //Создаем массив для объектов ответа
                var suggestions = [];
                //Обрабатываем ответ
                $.each(data, function(i, val){
                    suggestions.push({label:val.fields.title,value:val.fields.title,id:val.pk});
                });
                //Передаем массив обратному вызову
                add(suggestions);
            });
        },
        //Определяем обработчик селектора
        select: function(e, ui) {
            //Создаем форматированную переменную shop
            var shop = ui.item.id,
                span = $("<span>").text(shop),
                a = $("<a>").addClass("remove").attr({
                    href: "javascript:",
                    title: "Remove " + shop
                }).text("x").appendTo(span);

            $("#id_shop").attr("value", ui.item.id); 
            //Добавляем после поля 
            //span.insertAfter("#id_shop");
        },
        //Определяем обработчик выбора
        change: function(event,ui){
            //Сохраняем поле 'Кому' без изменений и в правильной позиции
            //$("#id_shop").val("").css("top", 2);
        },
        minLength: 1,
    });
    $( "#id_summary" ).blur(function(){
        $(this).val($(this).val().replace(/\s-/g, '').replace(/,/g, '.').replace(/[^\d\.]/g, ''));
    });

    function setAc(){
        $( ".ac" ).autocomplete({
            //Определяем обратный вызов к результатам форматирования
            source: function(req, add){

                //Передаём запрос на сервер
                $.getJSON("{% url json_lookup 'product' %}", req, function(data) {
                    //Создаем массив для объектов ответа
                    var suggestions = [];
                    //Обрабатываем ответ
                    $.each(data, function(i, val){
                        suggestions.push({label:val.fields.title,value:val.fields.title,id:val.pk});
                    });
                    //Передаем массив обратному вызову
                    add(suggestions);
                });
            },
            //Определяем обработчик селектора
            select: function(e, ui) {
                //Создаем форматированную переменную shop
                var shop = ui.item.id,
                    span = $("<span>").text(shop),
                    a = $("<a>").addClass("remove").attr({
                        href: "javascript:",
                        title: "Remove " + shop
                    }).text("x").appendTo(span);

                $(this).next().attr("value", ui.item.id); 
                //Добавляем после поля
                //span.insertAfter("#id_shop");
            },

            //Определяем обработчик выбора
            change: function(event,ui){
                //Сохраняем поле 'Кому' без изменений и в правильной позиции
                //$("#id_shop").val("").css("top", 2);
            },
            minLength: 1,
        });
        // поле цена теряет фокус ввода
        $( ".blur_replace" ).blur(function(){
            $(this).val($(this).val().replace(/\s-/g, '').replace(/,/g, '.').replace(/[^\d\.]/g, ''));
            var table = $(this).parent().parent();
            if (table.children('td:eq(2)').children('input').val() > 0) {
                table.children('td:eq(3)').children('input').val(CostCalc(table));
                SummaryCalc();
            }
        });
        // поле количество теряет фокус ввода
        $( ".blur_replace_amount" ).blur(function(){
            $(this).val($(this).val().replace(/\s-/g, '').replace(/,/g, '.').replace(/[^\d\.]/g, ''));
            var table = $(this).parent().parent();
            var price = table.children('td:eq(1)').children('input').val();
            var cost = table.children('td:eq(3)').children('input').val();
            if (price > 0) {
                table.children('td:eq(3)').children('input').val(CostCalc(table));
                SummaryCalc();
            }
            else if (price == 0) {
                if (cost == 0) return
                else if (cost > 0) {
                    table.children('td:eq(1)').children('input').val(PriceCalc(table));
                    SummaryCalc();
                }
            };
        });
        // поле стоимость теряет фокус ввода
        $( ".blur_replace_cost" ).blur(function(){
            $(this).val($(this).val().replace(/\s-/g, '').replace(/,/g, '.').replace(/[^\d\.]/g, ''));
            var table = $(this).parent().parent();
            if (table.children('td:eq(2)').children('input').val() > 0) {
                table.children('td:eq(1)').children('input').val(PriceCalc(table));
                SummaryCalc();
            }
            else if (table.children('td:eq(2)').children('input').val() == 0) {
                $(this).val(0);
            }
        });
    };
    setAc();
});
</script>

</div>
{% endblock %}
            
