/* ============================ PRICE =========================== */

#price-entries table tr td {
    padding-right: 3px;
}

.prodshop h1 a, a:visited {
    text-decoration: underline;
}

/* ============================ FORM =============================== */

.ui_shop_visual {
    width: 350px;
}

.ui_time {
    width: 140px;
}

.ui_summary {
    width: 80px;
}

.ui_product_visual {
    width: 350px;
}

.ui_price_visual {
    width: 80px;
}

.ui_amount {
    width: 50px;
}

#ui_total_block {
    width: 586px;
    text-align: right;
}
