<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>

<title>{% block title %}Цены говорят{% endblock %}</title>

<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="shortcut icon" href="{{ STATIC_URL }}fprice/favicon.ico" type="image/x-icon" />
<link rel="icon" href="{{ STATIC_URL }}fprice/favicon.ico" type="image/x-icon" />

<meta name="description" content="{% block description %}{% endblock %}"/>
<meta name="keywords" content="{% block keywords %}{% endblock %}" />

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" />
{% endblock %}

</head>
<body>

<div id="header">
{% block header %}
<div id="sitetitle"><a href="/">Цены говорят</a></div>
<div id="siteslogan">Динамика и рост цен в прямом эфире</div>
<div id="search">
<form action="/search/" method="GET"><input id="search_text" type="text" name="q"><input type="submit" value="Поиск"></form>
</div>
<div id="sitemenu">
    <ul>
    {% if user.is_authenticated %}<li><a href="/trades/">Мои покупки</a></li>{% endif %}
    <li><a href="/products/">Товары</a></li>
    <li><a href="/shops/">Магазины</a></li>
    <li><a href="/blog/">Дневник</a></li>
    <li><a href="/about/">О проекте</a></li>
    </ul>
</div>
{% endblock %}
</div><!-- /#header -->

<div id="navline" class="infobar rounded" >
    <div id="profile">
        {% if not user.is_authenticated %}<a href="{% url auth_login %}?next={{ request.path }}">Войти</a>{% endif %}
        {% if user.is_staff %}<a href="{% url admin:index %}">Админка</a>{% endif %}
        {% if user.is_authenticated %}<a href="{% url auth_logout %}?next={{ request.path }}">Выход</a> ({{ user.username }}){% endif %}
    </div>
    <div id="breadcrumbs"><a href="/">Главная</a>{% block breadcrumbs %} - Добро пожаловать!{% endblock %}</div>
    <div class="clearfix"></div>
</div><!-- /#infobar personal -->

<div id="main">
{% block main %}

<div id="content" class="{% block contentclass %}{% endblock %} rounded">
{% block content %}{% endblock %}
</div><!-- /#content -->

<div id="sidebar" class="rounded">
{% block sidebar %}{% endblock %}
</div><!-- /#sidebar -->

{% endblock %}
<div class="clearfix"></div>
</div><!-- /#main div -->

<div id="footer" class="infobar rounded">
{% block footer %}
<div id="copyright">(c) 0x studio, 2011</div>
<div id="author">0x studio</div>
<div class="clearfix"></div>

{% endblock %}
</div><!-- /#infobar footer -->

<div id="counters">
<!-- Yandex.Metrika informer -->
<a href="http://metrika.yandex.ru/stat/?id=10825897&amp;from=informer"
target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/10825897/3_0_DFDFDFFF_BFBFBFFF_0_pageviews"
style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:10825897,type:0,lang:'ru'});return false}catch(e){}"/></a>
<!-- /Yandex.Metrika informer -->

<!-- Yandex.Metrika counter -->
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript"></script>
<div style="display:none;"><script type="text/javascript">
try { var yaCounter10825897 = new Ya.Metrika({id:10825897,
          accurateTrackBounce:true});}
catch(e) { }
</script></div>
<noscript><div><img src="//mc.yandex.ru/watch/10825897" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</div>

</body>
</html>
